<head>
    <link rel="stylesheet" type="text/css" href="game.css">

    <script type="text/javascript">
        import { app } from 'electron';
        
        function playNaMusica() {

            var mysound = document.getElementById("som");
            mysound.autoplay = 'true';
            mysound.load();
        }
    </script>

</head>

<body onload="playNaMusica()">

    <audio id="som">
        <source src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3" type="audio/mp3" />
        Your browser does not support the audio element.
    </audio>

</body>

<button type="submit" onclick="window.close()">fechar</button>

<div class="score">0</div>

<div class="stage">0</div>

<script src="game.js"></script>