<head>
    <link rel="stylesheet" type="text/css" href="home.css">
</head>

<body>

    <section>
        <p>
            Bem-vindos ao game BIGGER SIZE
            <br />
            Aperte PLAY e divirta-se!
        </p>
        
        <button type="button" onclick="playNoGame()"> <img src="../../images/botao-play.png" width=" 70" height="70">
        </button>
    </section>

</body>

<script>
    function playNoGame() {
        window.location = "../../components/game/game.html";
    }
</script>